SECRET_KEY=change-this-to-a-long-random-secret-key
DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1
TIME_ZONE=Africa/Nairobi

DB_NAME=postgres
DB_USER=postgres
DB_PASSWORD=replace-with-supabase-database-password
DB_HOST=replace-with-supabase-postgres-host
DB_PORT=5432
DB_SSLMODE=require
DB_GSSENCMODE=disable
